.footer {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: var(---primary-col);
  /* text-align: center; */
  min-height: 10vh;
  align-items: center;
  color: white;
}

.footer-menu {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.third-footer-part {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-flex {
  display: flex;
  gap: 2rem;
}

#footer a:hover {
  color: red;
  transition: 0.5s;
}
